 button {
    height: 50px;
    width: 100px;
    background-color:black;
    border-radius:5px;
    color:aliceblue;
    margin:0;
    font-size:18px;
  }
button span  {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    
  }
  #result{
    width: 340px;
    height: 45px;
    margin:5px;
    margin-left:5%;
    border-radius: 5px;
    font-size:24px;
    padding:5px;
  }

  .container{
      margin-top:10%;
      margin-left: auto;
      margin-right: auto;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      width:400px;
      
  }
 
  .button-container{
     
      display: flex;
      flex-wrap: wrap;
      margin-left:5%;
     
      
  }
  .button{
    
    flex-grow: 1;
    width: 30%;
    margin-bottom: 5px;
    
  }
 .input-div{
   display:flex;
 }
 .close{
   margin-left:-25px;
   margin-top:25px;

 }
 .close:hover{
   cursor: pointer;
 }
 .close h1{
   margin:0px;

   padding:5px;
 }